<!-- wp:template-part {"slug":"header-a"} /-->

<!-- wp:query {"queryId":0,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":null,"parents":[]},"tagName":"main","layout":{"type":"constrained","contentSize":null}} -->
<main class="wp-block-query"><!-- wp:post-template {"align":"wide","layout":{"type":"grid","columnCount":2}} -->
<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|md","bottom":"var:preset|spacing|md","left":"24px","right":"24px"}},"dimensions":{"minHeight":"100%"}}} -->
<div class="wp-block-group" style="min-height:100%;padding-top:var(--wp--preset--spacing--md);padding-right:24px;padding-bottom:var(--wp--preset--spacing--md);padding-left:24px"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"16/9"} /-->

<!-- wp:post-title {"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|neutral-120"}}},"typography":{"textDecoration":"none"}},"fontSize":"heading-4"} /-->

<!-- wp:post-excerpt {"textColor":"neutral-110"} /-->

<!-- wp:read-more /-->

<!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|neutral-80"}}}},"textColor":"neutral-80","layout":{"type":"flex"},"fontSize":"info-md"} -->
<div class="wp-block-group has-neutral-80-color has-text-color has-link-color has-info-md-font-size"><!-- wp:post-author {"showAvatar":false,"showBio":false,"byline":""} /-->

<!-- wp:post-date {"isLink":true} /-->

<!-- wp:post-terms {"term":"category"} /-->

<!-- wp:post-terms {"term":"post_tag"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:query-pagination {"paginationArrow":"arrow","layout":{"type":"flex","justifyContent":"center","flexWrap":"nowrap"}} -->
<!-- wp:query-pagination-previous {"label":""} /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:group --></main>
<!-- /wp:query -->

<!-- wp:template-part {"theme":"prolooksui","area":"footer"} /-->