<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|static-24","bottom":"24px"}},"border":{"top":{"color":"var:preset|color|neutral-60","width":"1px"}},"elements":{"link":{"color":{"text":"var:preset|color|neutral-110"},":hover":{"color":{"text":"var:preset|color|primary-100"}}}}},"backgroundColor":"neutral-20","textColor":"neutral-110","layout":{"type":"constrained"},"fontSize":"paragraph-sm"} -->
<div class="wp-block-group has-neutral-110-color has-neutral-20-background-color has-text-color has-background has-link-color has-paragraph-sm-font-size" style="border-top-color:var(--wp--preset--color--neutral-60);border-top-width:1px;padding-top:var(--wp--preset--spacing--static-24);padding-bottom:24px"><!-- wp:columns {"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|static-8","bottom":"var:preset|spacing|static-8"}}}} -->
<div class="wp-block-columns alignwide" style="padding-top:var(--wp--preset--spacing--static-8);padding-bottom:var(--wp--preset--spacing--static-8)"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|static-8"}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"fontSize":"paragraph-md"} -->
<p class="has-paragraph-md-font-size" style="font-style:normal;font-weight:600">Company</p>
<!-- /wp:paragraph -->

<!-- wp:navigation {"ref":126,"overlayMenu":"never","className":"is-style-navigation-footer-a is-style-default","layout":{"type":"flex","orientation":"vertical"},"style":{"spacing":{"blockGap":"0"}}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|static-8"}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"fontSize":"paragraph-md"} -->
<p class="has-paragraph-md-font-size" style="font-style:normal;font-weight:600">Product</p>
<!-- /wp:paragraph -->

<!-- wp:navigation {"ref":126,"overlayMenu":"never","className":"is-style-navigation-footer-a is-style-default","layout":{"type":"flex","orientation":"vertical"},"style":{"spacing":{"blockGap":"0"}}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|static-8"}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"fontSize":"paragraph-md"} -->
<p class="has-paragraph-md-font-size" style="font-style:normal;font-weight:600">Support</p>
<!-- /wp:paragraph -->

<!-- wp:navigation {"ref":126,"overlayMenu":"never","className":"is-style-navigation-footer-a is-style-default","layout":{"type":"flex","orientation":"vertical"},"style":{"spacing":{"blockGap":"0"}}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|static-8"}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"fontSize":"paragraph-md"} -->
<p class="has-paragraph-md-font-size" style="font-style:normal;font-weight:600">Legal</p>
<!-- /wp:paragraph -->

<!-- wp:navigation {"ref":126,"overlayMenu":"never","className":"is-style-navigation-footer-a is-style-default","layout":{"type":"flex","orientation":"vertical"},"style":{"spacing":{"blockGap":"0"}}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:group {"align":"wide","style":{"border":{"top":{"color":"var:preset|color|neutral-60","width":"1px"}},"spacing":{"padding":{"top":"var:preset|spacing|static-24","bottom":"var:preset|spacing|static-24"}}},"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between"},"fontSize":"info-md"} -->
<div class="wp-block-group alignwide has-info-md-font-size" style="border-top-color:var(--wp--preset--color--neutral-60);border-top-width:1px;padding-top:var(--wp--preset--spacing--static-24);padding-bottom:var(--wp--preset--spacing--static-24)"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:site-logo /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|static-6"}},"layout":{"type":"flex","flexWrap":"wrap"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>© <a href="https://prolooksui.com">ProLooksUI.com</a></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>·</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Some rights reserved </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>·</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Made with ProLooksUI. </p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:social-links {"iconColor":"neutral-90","iconColorValue":"#5D5E60","size":"has-small-icon-size","className":"is-style-logos-only","layout":{"type":"flex","flexWrap":"wrap"}} -->
<ul class="wp-block-social-links has-small-icon-size has-icon-color is-style-logos-only"><!-- wp:social-link {"url":"#","service":"whatsapp"} /-->

<!-- wp:social-link {"url":"#","service":"facebook"} /-->

<!-- wp:social-link {"url":"#","service":"instagram"} /--></ul>
<!-- /wp:social-links --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|static-24","bottom":"24px"}},"border":{"top":{"color":"var:preset|color|dark","width":"1px"},"right":[],"bottom":[],"left":[]},"elements":{"link":{"color":{"text":"var:preset|color|primary-10"},":hover":{"color":{"text":"var:preset|color|primary-100"}}}}},"backgroundColor":"primary-120","textColor":"primary-10","layout":{"type":"constrained"},"fontSize":"paragraph-sm"} -->
<div class="wp-block-group has-primary-10-color has-primary-120-background-color has-text-color has-background has-link-color has-paragraph-sm-font-size" style="border-top-color:var(--wp--preset--color--dark);border-top-width:1px;padding-top:var(--wp--preset--spacing--static-24);padding-bottom:24px"><!-- wp:columns {"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|static-8","bottom":"var:preset|spacing|static-8"}}}} -->
<div class="wp-block-columns alignwide" style="padding-top:var(--wp--preset--spacing--static-8);padding-bottom:var(--wp--preset--spacing--static-8)"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|static-8"}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"fontSize":"paragraph-md"} -->
<p class="has-paragraph-md-font-size" style="font-style:normal;font-weight:600">Company</p>
<!-- /wp:paragraph -->

<!-- wp:navigation {"ref":126,"overlayMenu":"never","className":"is-style-navigation-footer-a is-style-default","layout":{"type":"flex","orientation":"vertical"},"style":{"spacing":{"blockGap":"0"}}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|static-8"}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"fontSize":"paragraph-md"} -->
<p class="has-paragraph-md-font-size" style="font-style:normal;font-weight:600">Product</p>
<!-- /wp:paragraph -->

<!-- wp:navigation {"ref":126,"overlayMenu":"never","className":"is-style-navigation-footer-a is-style-default","layout":{"type":"flex","orientation":"vertical"},"style":{"spacing":{"blockGap":"0"}}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|static-8"}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"fontSize":"paragraph-md"} -->
<p class="has-paragraph-md-font-size" style="font-style:normal;font-weight:600">Support</p>
<!-- /wp:paragraph -->

<!-- wp:navigation {"ref":126,"overlayMenu":"never","className":"is-style-navigation-footer-a is-style-default","layout":{"type":"flex","orientation":"vertical"},"style":{"spacing":{"blockGap":"0"}}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|static-8"}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"fontSize":"paragraph-md"} -->
<p class="has-paragraph-md-font-size" style="font-style:normal;font-weight:600">Legal</p>
<!-- /wp:paragraph -->

<!-- wp:navigation {"ref":126,"overlayMenu":"never","className":"is-style-navigation-footer-a is-style-default","layout":{"type":"flex","orientation":"vertical"},"style":{"spacing":{"blockGap":"0"}}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:group {"align":"wide","style":{"border":{"top":{"color":"var:preset|color|neutral-60","width":"1px"}},"spacing":{"padding":{"top":"var:preset|spacing|static-24","bottom":"var:preset|spacing|static-24"}}},"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between"},"fontSize":"info-md"} -->
<div class="wp-block-group alignwide has-info-md-font-size" style="border-top-color:var(--wp--preset--color--neutral-60);border-top-width:1px;padding-top:var(--wp--preset--spacing--static-24);padding-bottom:var(--wp--preset--spacing--static-24)"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:site-logo {"style":{"color":{"duotone":["#fcfdfa","#263209"]}}} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|static-6"}},"layout":{"type":"flex","flexWrap":"wrap"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>© <a href="https://prolooksui.com">ProLooksUI.com</a></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>·</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Some rights reserved </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>·</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Made with ProLooksUI. </p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:social-links {"iconColor":"primary-10","iconColorValue":"#fcfdfa","size":"has-small-icon-size","style":{"layout":{"selfStretch":"fit","flexSize":null}},"className":"is-style-logos-only","layout":{"type":"flex","flexWrap":"wrap"}} -->
<ul class="wp-block-social-links has-small-icon-size has-icon-color is-style-logos-only"><!-- wp:social-link {"url":"#","service":"whatsapp"} /-->

<!-- wp:social-link {"url":"#","service":"facebook"} /-->

<!-- wp:social-link {"url":"#","service":"instagram"} /--></ul>
<!-- /wp:social-links --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|static-24","bottom":"24px"}},"border":{"top":{"color":"var:preset|color|neutral-60","width":"1px"}},"elements":{"link":{":hover":{"color":{"text":"var:preset|color|primary-100"}},"color":{"text":"var:preset|color|neutral-110"}}}},"backgroundColor":"neutral-20","textColor":"neutral-110","layout":{"type":"constrained"},"fontSize":"paragraph-sm"} -->
<div class="wp-block-group has-neutral-110-color has-neutral-20-background-color has-text-color has-background has-link-color has-paragraph-sm-font-size" style="border-top-color:var(--wp--preset--color--neutral-60);border-top-width:1px;padding-top:var(--wp--preset--spacing--static-24);padding-bottom:24px"><!-- wp:columns {"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|static-8","bottom":"var:preset|spacing|static-8"}}}} -->
<div class="wp-block-columns alignwide" style="padding-top:var(--wp--preset--spacing--static-8);padding-bottom:var(--wp--preset--spacing--static-8)"><!-- wp:column {"width":"50%"} -->
<div class="wp-block-column" style="flex-basis:50%"><!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:site-logo /-->

<!-- wp:site-tagline /--></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>60 rue Wiertz / Wiertzstraat 60</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>B-1047 - Bruxelles/Brussels</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><a href="https://goo.gl/maps/t1VAdS1Mf4psNJaF7" target="_blank" rel="noreferrer noopener">Open on Google Maps ↗</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:social-links {"iconColor":"neutral-110","iconColorValue":"#404040","size":"has-small-icon-size","className":"is-style-logos-only","layout":{"type":"flex","flexWrap":"wrap"}} -->
<ul class="wp-block-social-links has-small-icon-size has-icon-color is-style-logos-only"><!-- wp:social-link {"url":"#","service":"whatsapp"} /-->

<!-- wp:social-link {"url":"#","service":"facebook"} /-->

<!-- wp:social-link {"url":"#","service":"instagram"} /--></ul>
<!-- /wp:social-links --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:navigation {"ref":126,"overlayMenu":"never","className":"is-style-navigation-footer-a is-style-default","layout":{"type":"flex","orientation":"vertical"},"style":{"spacing":{"blockGap":"0"}},"fontSize":"paragraph-sm"} /--></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:navigation {"ref":126,"overlayMenu":"never","className":"is-style-navigation-footer-a is-style-default","layout":{"type":"flex","orientation":"vertical"},"style":{"spacing":{"blockGap":"0"}},"fontSize":"paragraph-sm"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:group {"align":"wide","style":{"border":{"top":{"color":"var:preset|color|neutral-60","width":"1px"}},"spacing":{"padding":{"top":"var:preset|spacing|static-24","bottom":"var:preset|spacing|static-24"}}},"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between"},"fontSize":"info-md"} -->
<div class="wp-block-group alignwide has-info-md-font-size" style="border-top-color:var(--wp--preset--color--neutral-60);border-top-width:1px;padding-top:var(--wp--preset--spacing--static-24);padding-bottom:var(--wp--preset--spacing--static-24)"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|static-6"}},"layout":{"type":"flex","flexWrap":"wrap"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>© <a href="https://prolooksui.com">ProLooksUI.com</a></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>·</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Some rights reserved </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>·</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Made with Wordpress & ProLooks</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:navigation {"ref":126,"className":"is-style-default"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|static-24","bottom":"24px"}},"border":{"top":{"color":"var:preset|color|dark","width":"1px"},"right":[],"bottom":[],"left":[]},"elements":{"link":{":hover":{"color":{"text":"var:preset|color|primary-100"}},"color":{"text":"var:preset|color|primary-20"}}}},"backgroundColor":"primary-120","textColor":"neutral-20","layout":{"type":"constrained"},"fontSize":"paragraph-sm"} -->
<div class="wp-block-group has-neutral-20-color has-primary-120-background-color has-text-color has-background has-link-color has-paragraph-sm-font-size" style="border-top-color:var(--wp--preset--color--dark);border-top-width:1px;padding-top:var(--wp--preset--spacing--static-24);padding-bottom:24px"><!-- wp:columns {"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|static-8","bottom":"var:preset|spacing|static-8"}}}} -->
<div class="wp-block-columns alignwide" style="padding-top:var(--wp--preset--spacing--static-8);padding-bottom:var(--wp--preset--spacing--static-8)"><!-- wp:column {"width":"50%"} -->
<div class="wp-block-column" style="flex-basis:50%"><!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:site-logo {"style":{"color":{"duotone":["#f7fcf0","#263209"]}}} /-->

<!-- wp:site-tagline /--></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>60 rue Wiertz / Wiertzstraat 60</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>B-1047 - Bruxelles/Brussels</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><a href="https://goo.gl/maps/t1VAdS1Mf4psNJaF7" target="_blank" rel="noreferrer noopener">Open on Google Maps ↗</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:social-links {"iconColor":"primary-20","iconColorValue":"#f7fcf0","size":"has-small-icon-size","className":"is-style-logos-only","layout":{"type":"flex","flexWrap":"wrap"}} -->
<ul class="wp-block-social-links has-small-icon-size has-icon-color is-style-logos-only"><!-- wp:social-link {"url":"#","service":"whatsapp"} /-->

<!-- wp:social-link {"url":"#","service":"facebook"} /-->

<!-- wp:social-link {"url":"#","service":"instagram"} /--></ul>
<!-- /wp:social-links --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:navigation {"ref":126,"overlayMenu":"never","className":"is-style-navigation-footer-a is-style-default","layout":{"type":"flex","orientation":"vertical"},"style":{"spacing":{"blockGap":"0"}},"fontSize":"paragraph-sm"} /--></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:navigation {"ref":126,"overlayMenu":"never","className":"is-style-navigation-footer-a is-style-default","layout":{"type":"flex","orientation":"vertical"},"style":{"spacing":{"blockGap":"0"}},"fontSize":"paragraph-sm"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:group {"align":"wide","style":{"border":{"top":{"color":"var:preset|color|primary-20","width":"1px"},"right":[],"bottom":[],"left":[]},"spacing":{"padding":{"top":"var:preset|spacing|static-24","bottom":"var:preset|spacing|static-24"}}},"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between"},"fontSize":"info-md"} -->
<div class="wp-block-group alignwide has-info-md-font-size" style="border-top-color:var(--wp--preset--color--primary-20);border-top-width:1px;padding-top:var(--wp--preset--spacing--static-24);padding-bottom:var(--wp--preset--spacing--static-24)"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|static-6"}},"layout":{"type":"flex","flexWrap":"wrap"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>© <a href="https://prolooksui.com">ProLooksUI.com</a></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>·</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Some rights reserved </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>·</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Made with Wordpress & ProLooks</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:navigation {"ref":9,"className":"is-style-default"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|fluid-xl","bottom":"var:preset|spacing|fluid-xl"}},"border":{"top":{"color":"var:preset|color|neutral-60","width":"1px"}},"elements":{"link":{":hover":{"color":{"text":"var:preset|color|primary-100"}},"color":{"text":"var:preset|color|neutral-110"}}}},"backgroundColor":"neutral-20","layout":{"type":"constrained"},"fontSize":"paragraph-sm"} -->
<div class="wp-block-group has-neutral-20-background-color has-background has-link-color has-paragraph-sm-font-size" style="border-top-color:var(--wp--preset--color--neutral-60);border-top-width:1px;padding-top:var(--wp--preset--spacing--fluid-xl);padding-bottom:var(--wp--preset--spacing--fluid-xl)"><!-- wp:site-logo {"align":"center"} /-->

<!-- wp:navigation {"ref":126,"className":"is-style-default","layout":{"type":"flex","justifyContent":"center"}} /-->

<!-- wp:social-links {"iconColor":"neutral-70","iconColorValue":"#A6A6A6","size":"has-small-icon-size","className":"is-style-logos-only","layout":{"type":"flex","flexWrap":"wrap","justifyContent":"center"}} -->
<ul class="wp-block-social-links has-small-icon-size has-icon-color is-style-logos-only"><!-- wp:social-link {"url":"#","service":"whatsapp"} /-->

<!-- wp:social-link {"url":"#","service":"facebook"} /-->

<!-- wp:social-link {"url":"#","service":"instagram"} /-->

<!-- wp:social-link {"url":"#","service":"tiktok"} /--></ul>
<!-- /wp:social-links --></div>
<!-- /wp:group -->