<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|fluid-xl","bottom":"var:preset|spacing|fluid-xl"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--fluid-xl);margin-bottom:var(--wp--preset--spacing--fluid-xl)"><!-- wp:columns {"align":"wide"} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"style":{"spacing":{"blockGap":"var:preset|spacing|static-12"}},"layout":{"type":"default"}} -->
<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|static-12"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"neutral-90","fontSize":"heading-4","fontFamily":"inter"} -->
<p class="has-neutral-90-color has-text-color has-inter-font-family has-heading-4-font-size" style="font-style:normal;font-weight:600">➀</p>
<!-- /wp:paragraph -->

<!-- wp:heading -->
<h2 class="wp-block-heading">The Soul</h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:paragraph {"textColor":"neutral-110"} -->
<p class="has-neutral-110-color has-text-color">Lorem ipsum dolor sit amet. Qui ducimus galisum aut iste quia aut placeat autem ad enim aliquid. Et minus consequuntur et illo assumenda est dolores expedita est voluptatem esse est blanditiis odit. Non sunt voluptas est provident consectetur aut facere quos.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"blockGap":"var:preset|spacing|static-12"}}} -->
<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|static-12"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"neutral-90","fontSize":"heading-4","fontFamily":"inter"} -->
<p class="has-neutral-90-color has-text-color has-inter-font-family has-heading-4-font-size" style="font-style:normal;font-weight:600">➁</p>
<!-- /wp:paragraph -->

<!-- wp:heading -->
<h2 class="wp-block-heading">The Mind</h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:paragraph {"textColor":"neutral-110"} -->
<p class="has-neutral-110-color has-text-color">Est pariatur voluptate ea delectus temporibus eum delectus omnis est fugit porro vel optio doloribus. Sit asperiores reprehenderit est omnis voluptatem quo voluptas doloribus. Et minus consequuntur et illo assumenda. Hic perspiciatis incidunt qui.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"blockGap":"var:preset|spacing|static-12"}}} -->
<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|static-12"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"neutral-90","fontSize":"heading-4","fontFamily":"inter"} -->
<p class="has-neutral-90-color has-text-color has-inter-font-family has-heading-4-font-size" style="font-style:normal;font-weight:600">➂</p>
<!-- /wp:paragraph -->

<!-- wp:heading -->
<h2 class="wp-block-heading">The Body</h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:paragraph {"textColor":"neutral-110"} -->
<p class="has-neutral-110-color has-text-color">Id mollitia eius ut dolorem nulla ut doloremque repellendus sed accusantium itaque est excepturi consectetur et accusantium sunt et consectetur repellendus. Sed facere unde id quasi galisum sed assumenda amet qui fugiat reprehenderit id recusandae reiciendis.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns {"align":"wide"} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"style":{"spacing":{"blockGap":"var:preset|spacing|static-12"}},"layout":{"type":"default"}} -->
<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|static-12"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"neutral-90","fontSize":"heading-4","fontFamily":"inter"} -->
<p class="has-neutral-90-color has-text-color has-inter-font-family has-heading-4-font-size" style="font-style:normal;font-weight:600">➃</p>
<!-- /wp:paragraph -->

<!-- wp:heading -->
<h2 class="wp-block-heading">The Positive</h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:paragraph {"textColor":"neutral-110"} -->
<p class="has-neutral-110-color has-text-color">Est ducimus possimus ut natus debitis aut quibusdam quia est laboriosam debitis et nesciunt soluta aut iure consequatur id voluptatibus voluptas! 33 temporibus officiis et earum officia ex beatae voluptates aut nobis sequi sit veritatis officia quo quisquam dolores.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"blockGap":"var:preset|spacing|static-12"}}} -->
<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|static-12"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"neutral-90","fontSize":"heading-4","fontFamily":"inter"} -->
<p class="has-neutral-90-color has-text-color has-inter-font-family has-heading-4-font-size" style="font-style:normal;font-weight:600">➄</p>
<!-- /wp:paragraph -->

<!-- wp:heading -->
<h2 class="wp-block-heading">The Negative</h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:paragraph {"textColor":"neutral-110"} -->
<p class="has-neutral-110-color has-text-color">Quo fugit officiis eum quidem repudiandae qui nihil galisum sed amet autem. Aut molestias porro et consequatur asperiores eos alias eaque in autem perspiciatis qui molestiae laboriosam. Et minus consequuntur et illo assumenda est dolores expedita.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"blockGap":"var:preset|spacing|static-12"}}} -->
<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|static-12"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"neutral-90","fontSize":"heading-4","fontFamily":"inter"} -->
<p class="has-neutral-90-color has-text-color has-inter-font-family has-heading-4-font-size" style="font-style:normal;font-weight:600">➅</p>
<!-- /wp:paragraph -->

<!-- wp:heading -->
<h2 class="wp-block-heading">The Ground</h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:paragraph {"textColor":"neutral-110"} -->
<p class="has-neutral-110-color has-text-color">Sit asperiores reprehenderit est omnis voluptatem quo voluptas doloribus. Id mollitia eius ut dolorem nulla ut doloremque repellendus sed accusantium itaque est excepturi consectetur et accusantium sunt et consectetur repellendus.&nbsp;</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns {"align":"wide"} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"style":{"spacing":{"blockGap":"var:preset|spacing|static-12"}},"layout":{"type":"default"}} -->
<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|static-12"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"neutral-90","fontSize":"heading-4","fontFamily":"inter"} -->
<p class="has-neutral-90-color has-text-color has-inter-font-family has-heading-4-font-size" style="font-style:normal;font-weight:600">➆</p>
<!-- /wp:paragraph -->

<!-- wp:heading -->
<h2 class="wp-block-heading">The Proton</h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:paragraph {"textColor":"neutral-110"} -->
<p class="has-neutral-110-color has-text-color">Qui ducimus galisum aut iste quia aut placeat autem ad enim aliquid. Et minus consequuntur et illo assumenda est dolores expedita est voluptatem esse est blanditiis odit. Non sunt voluptas est provident consectetur aut facere quos.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"blockGap":"var:preset|spacing|static-12"}}} -->
<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|static-12"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"neutral-90","fontSize":"heading-4","fontFamily":"inter"} -->
<p class="has-neutral-90-color has-text-color has-inter-font-family has-heading-4-font-size" style="font-style:normal;font-weight:600">➇</p>
<!-- /wp:paragraph -->

<!-- wp:heading -->
<h2 class="wp-block-heading">The Neutron</h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:paragraph {"textColor":"neutral-110"} -->
<p class="has-neutral-110-color has-text-color">Ab maxime dolorum non vitae corrupti id cupiditate facilis qui veniam error ad ratione explicabo. Ex ducimus voluptatem qui internos nobis in maiores accusantium sed sunt itaque sit Quis illum nam voluptatem nobis!</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"blockGap":"var:preset|spacing|static-12"}}} -->
<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|static-12"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"neutral-90","fontSize":"heading-4","fontFamily":"inter"} -->
<p class="has-neutral-90-color has-text-color has-inter-font-family has-heading-4-font-size" style="font-style:normal;font-weight:600">➈</p>
<!-- /wp:paragraph -->

<!-- wp:heading -->
<h2 class="wp-block-heading">The Electron</h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:paragraph {"textColor":"neutral-110"} -->
<p class="has-neutral-110-color has-text-color">Est sint explicabo et distinctio earum ea aperiam nulla cum error praesentium? Ut veniam rerum qui cumque porro qui unde enim sit sapiente libero et nihil distinctio vel quibusdam consequuntur id porro enim. Id velit distinctio et autem delectus.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|fluid-xl","bottom":"var:preset|spacing|fluid-xl"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--fluid-xl);padding-bottom:var(--wp--preset--spacing--fluid-xl)"><!-- wp:columns {"align":"wide"} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"width":"33.33%"} -->
<div class="wp-block-column" style="flex-basis:33.33%"><!-- wp:heading -->
<h2 class="wp-block-heading">This is only a test.</h2>
<!-- /wp:heading --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"66.66%"} -->
<div class="wp-block-column" style="flex-basis:66.66%"><!-- wp:pullquote -->
<figure class="wp-block-pullquote"><blockquote><p>We strive to empower individuals with the liberty to harness technology to its fullest potential.</p></blockquote></figure>
<!-- /wp:pullquote -->

<!-- wp:columns {"align":"wide"} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"style":{"spacing":{"blockGap":"var:preset|spacing|static-12"}},"layout":{"type":"default"}} -->
<div class="wp-block-column"><!-- wp:heading -->
<h2 class="wp-block-heading">The Soul</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"textColor":"neutral-110"} -->
<p class="has-neutral-110-color has-text-color">Lorem ipsum dolor sit amet. Qui ducimus galisum aut iste quia aut placeat autem ad enim aliquid. Et minus consequuntur et illo assumenda est dolores expedita est voluptatem esse est blanditiis odit. Non sunt voluptas est provident consectetur aut facere quos.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"blockGap":"var:preset|spacing|static-12"}}} -->
<div class="wp-block-column"><!-- wp:heading -->
<h2 class="wp-block-heading">The Mind</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"textColor":"neutral-110"} -->
<p class="has-neutral-110-color has-text-color">Est pariatur voluptate ea delectus temporibus eum delectus omnis est fugit porro vel optio doloribus. Sit asperiores reprehenderit est omnis voluptatem quo voluptas doloribus. Et minus consequuntur et illo assumenda. Hic perspiciatis incidunt qui.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|fluid-xxl","bottom":"var:preset|spacing|fluid-xxl"}}},"backgroundColor":"primary-20","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-primary-20-background-color has-background" style="padding-top:var(--wp--preset--spacing--fluid-xxl);padding-bottom:var(--wp--preset--spacing--fluid-xxl)"><!-- wp:group {"align":"wide","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide"><!-- wp:heading {"textAlign":"center"} -->
<h2 class="wp-block-heading has-text-align-center">This is only a test.</h2>
<!-- /wp:heading -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"align":"center","textColor":"primary-110","fontSize":"heading-3"} -->
<p class="has-text-align-center has-primary-110-color has-text-color has-heading-3-font-size"><strong>01</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Lorem ipsum dolor sit amet. Qui ducimus galisum aut iste quia aut placeat autem ad enim aliquid. Et minus consequuntur et illo assumenda est dolores expedita est voluptatem esse est blanditiis odit. Non sunt voluptas est provident consectetur aut facere quos.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"align":"center","textColor":"primary-110","fontSize":"heading-3"} -->
<p class="has-text-align-center has-primary-110-color has-text-color has-heading-3-font-size"><strong>02</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Est pariatur voluptate ea delectus temporibus eum delectus omnis est fugit porro vel optio doloribus. Sit asperiores reprehenderit est omnis voluptatem quo voluptas doloribus. Et minus consequuntur et illo assumenda. Hic perspiciatis incidunt qui.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"align":"center","textColor":"primary-110","fontSize":"heading-3"} -->
<p class="has-text-align-center has-primary-110-color has-text-color has-heading-3-font-size"><strong>03</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Quo fugit officiis eum quidem repudiandae qui nihil galisum sed amet autem. Aut molestias porro et consequatur asperiores eos alias eaque in autem perspiciatis qui molestiae laboriosam. Et minus consequuntur et illo assumenda est dolores expedita.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:paragraph -->
<p> </p>
<!-- /wp:paragraph -->

<!-- wp:group {"align":"wide","style":{"border":{"width":"8px"},"spacing":{"padding":{"top":"var:preset|spacing|static-16","bottom":"var:preset|spacing|static-16","left":"clamp(16px,4vw,64px)","right":"clamp(16px,4vw,64px)"}}},"borderColor":"light","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group alignwide has-border-color has-light-border-color" style="border-width:8px;padding-top:var(--wp--preset--spacing--static-16);padding-right:clamp(16px,4vw,64px);padding-bottom:var(--wp--preset--spacing--static-16);padding-left:clamp(16px,4vw,64px)"><!-- wp:paragraph -->
<p> </p>
<!-- /wp:paragraph -->

<!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"align":"center","style":{"typography":{"fontStyle":"normal","fontWeight":"600","lineHeight":"1"}},"fontSize":"display-lg"} -->
<p class="has-text-align-center has-display-lg-font-size" style="font-style:normal;font-weight:600;line-height:1">2</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center","textColor":"primary-110"} -->
<p class="has-text-align-center has-primary-110-color has-text-color">hands</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:paragraph {"style":{"typography":{"lineHeight":"1"}},"textColor":"light","fontSize":"display-xl"} -->
<p class="has-light-color has-text-color has-display-xl-font-size" style="line-height:1">|</p>
<!-- /wp:paragraph -->

<!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"align":"center","style":{"typography":{"fontStyle":"normal","fontWeight":"600","lineHeight":"1"}},"fontSize":"display-lg"} -->
<p class="has-text-align-center has-display-lg-font-size" style="font-style:normal;font-weight:600;line-height:1">10</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center","textColor":"primary-110"} -->
<p class="has-text-align-center has-primary-110-color has-text-color">fingers</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:paragraph {"style":{"typography":{"lineHeight":"1"}},"textColor":"light","fontSize":"display-xl"} -->
<p class="has-light-color has-text-color has-display-xl-font-size" style="line-height:1">|</p>
<!-- /wp:paragraph -->

<!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"align":"center","style":{"typography":{"fontStyle":"normal","fontWeight":"600","lineHeight":"1"}},"fontSize":"display-lg"} -->
<p class="has-text-align-center has-display-lg-font-size" style="font-style:normal;font-weight:600;line-height:1">27</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center","textColor":"primary-110"} -->
<p class="has-text-align-center has-primary-110-color has-text-color">bones per hand</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:paragraph -->
<p> </p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->